.icontent_container ul,.icontent_container ol,.icontent_container li,.icontent_container h1,.icontent_container h2,.icontent_container h3,.icontent_container h4,.icontent_container h5,.icontent_container h6,.icontent_container pre,.icontent_container form,body,html,.icontent_container div.paragraph,.icontent_container blockquote,.icontent_container fieldset,.icontent_container input{ margin: 0; padding: 0; }
.icontent_container ul,.icontent_container ol,.icontent_container li,.icontent_container h1,.icontent_container h2,.icontent_container h3,.icontent_container h4,.icontent_container h5,.icontent_container h6,.icontent_container pre,.icontent_container form,body,html,.icontent_container p,.icontent_container blockquote,.icontent_container fieldset,.icontent_container input,.icontent_container div.paragraph{ margin: 0; padding: 0; }
.icontent_container a img{ border: 0; }
.icontent_container a{ text-decoration: none; }
body{ font-family: 'Open Sans', Helvetica, sans-serif; background:#242424; }
.icontent_container .container{ margin: 0 auto; width: 960px; }
.icontent_container #header-wrap,.icontent_container #banner-wrap,.icontent_container #nav-wrap,.icontent_container #main-wrap,.icontent_container #footer-wrap,.icontent_container #total-wrapper{ width:100%; min-width:960px; background:#fff; }
.icontent_container div.paragraph a,.icontent_container h2 a,.icontent_container .blog-comments-bottom a{ color: #6ca29b; border-bottom:1px solid #6ca29b; }
.icontent_container p a,.icontent_container h2 a,.icontent_container .blog-comments-bottom a{ color: #6ca29b; border-bottom:1px solid #6ca29b; }
.icontent_container div.paragraph a:hover,.icontent_container h2 a:hover,.icontent_container .blog-comments-bottom a:hover{ color: #458a81; border-bottom:1px solid #458a81; }
.icontent_container p a:hover,.icontent_container h2 a:hover,.icontent_container .blog-comments-bottom a:hover{ color: #458a81; border-bottom:1px solid #458a81; }
.icontent_container blockquote{ font-style:italic; border-left:4px solid #ddd; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; font-size:13px; color:#999; }
.icontent_container h2{ font-size:17px ; padding: .5em 0 0.8em 0; letter-spacing:1px; line-height: 1.2; font-weight:400; color: #373737; }
.icontent_container h2 a{ color: #373737; }
.icontent_container div.paragraph{ font-size: 13px; line-height: 180%; color:#464646; padding: .5em 0; }
.icontent_container p,.icontent_container div.paragraph{ font-size: 13px; line-height: 180%; color:#464646; padding: .5em 0; }
.icontent_container #wsite-content{ min-height:500px; }
.icontent_container .top-background{ border-top:8px solid #94C5BF; width:100%; min-width:960px; }
.icontent_container #header-wrap{}
.icontent_container #logo,.icontent_container #logo a{ color:#444; font:400 36px 'Open Sans', sans-serif; text-transform:uppercase; letter-spacing:7px; z-index:2; position:relative; }
.icontent_container #logo a:hover{}
.icontent_container #header{ border-collapse: collapse; border-spacing: 0; width:100%; margin-top:5px; }
.icontent_container #header td{ vertical-align: middle; text-align: left; }
.icontent_container #logo{ text-align:center; margin-left:4px; }
.icontent_container #header-right{}
.icontent_container #header-right table{ float: right; width: 1px; }
.icontent_container #header-right td{ padding: 0; }
.icontent_container #header-right .phone-number .wsite-text{ color: #666; font-size: 14px; font-weight: 400; display: block; white-space: nowrap; }
.icontent_container #header-right .phone-number .wsite-text a{}
.icontent_container #header-right .phone-number .wsite-text a:hover{}
.icontent_container #header-right .wsite-social{ vertical-align: middle; margin: 2px 0 0 10px; }
.icontent_container .wsite-social-item{ width: 28px; height: 30px; margin: 1px 0 0 4px; }
.icontent_container .wsite-social-rss{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -130px 0px; }
.icontent_container .wsite-social-rss:hover{ background-position: -130px -30px; }
.icontent_container .wsite-social-rss:active{ background-position: -130px -60px; }
.icontent_container .wsite-social-linkedin{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -65px 0px; }
.icontent_container .wsite-social-linkedin:hover{ background-position: -65px -30px; }
.icontent_container .wsite-social-linkedin:active{ background-position: -65px -60px; }
.icontent_container .wsite-social-facebook{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat 0px 0px; }
.icontent_container .wsite-social-facebook:hover{ background-position: 0px -30px; }
.icontent_container .wsite-social-facebook:active{ background-position: 0px -60px; }
.icontent_container .wsite-social-twitter{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -32px 0px; }
.icontent_container .wsite-social-twitter:hover{ background-position: -32px -30px; }
.icontent_container .wsite-social-twitter:active{ background-position: -32px -60px; }
.icontent_container .wsite-social-mail{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -97px 0px; }
.icontent_container .wsite-social-mail:hover{ background-position: -97px -30px; }
.icontent_container .wsite-social-mail:active{ background-position: -97px -60px; }
.icontent_container .wsite-social-pinterest{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -227px 0px; }
.icontent_container .wsite-social-pinterest:hover{ background-position: -227px -30px; }
.icontent_container .wsite-social-pinterest:active{ background-position: -227px -60px; }
.icontent_container .wsite-social-youtube{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -325px 0px; }
.icontent_container .wsite-social-youtube:hover{ background-position: -325px -30px; }
.icontent_container .wsite-social-youtube:active{ background-position: -325px -60px; }
.icontent_container .wsite-social-plus{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -195px 0px; }
.icontent_container .wsite-social-plus:hover{ background-position: -195px -30px; }
.icontent_container .wsite-social-plus:active{ background-position: -195px -60px; }
.icontent_container .wsite-social-flickr{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -162px 0px; }
.icontent_container .wsite-social-flickr:hover{ background-position: -162px -30px; }
.icontent_container .wsite-social-flickr:active{ background-position: -162px -60px; }
.icontent_container .wsite-social-vimeo{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -260px 0px; }
.icontent_container .wsite-social-vimeo:hover{ background-position: -260px -30px; }
.icontent_container .wsite-social-vimeo:active{ background-position: -260px -60px; }
.icontent_container .wsite-social-yahoo{ background: url(/uploads/b/communityTheme-144970330681139381/files/social-icons.png?636535) no-repeat -292px 0px; }
.icontent_container .wsite-social-yahoo:hover{ background-position: -292px -30px; }
.icontent_container .wsite-social-yahoo:active{ background-position: -292px -60px; }
.icontent_container #header-right .wsite-search{ vertical-align: middle; margin-left:15px; }
.icontent_container #header-right .wsite-search-input{ width: 153px; height: 28px; border: 0; font-family: 'Open Sans', sans-serif; color: #999999; font-size: 12px; background: url(/uploads/b/communityTheme-144970330681139381/files/input-bg.png?636535) no-repeat center left; }
.icontent_container #header-right .wsite-search-button{ position: relative; width: 21px; height: 28px; padding: 4px 0px; background: url(/uploads/b/communityTheme-144970330681139381/files/submit-bg.png?636535) no-repeat center right; }
.icontent_container .header-align-outer{ display: table; #position: relative; overflow: hidden; height:300px; padding-bottom:44px; }
.icontent_container .header-align-mid{ #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
.icontent_container .header-align-inner{ #position: relative; #top: -50%; }
.icontent_container #nav-wrap .nav-container{ float:right; position:relative; left:-50%; text-align:left; margin-top:10px; z-index:2; }
.icontent_container #nav-wrap .nav-container ul{ list-style:none; position:relative; left:50%; z-index:2; }
.icontent_container #nav-wrap .nav-container li{float:left;position:relative;}
.icontent_container #nav-wrap .nav-container a{ text-decoration:none; font:600 16px 'Josefin Sans', sans-serif; text-transform:uppercase; margin:10px 15px; float:left; color:#666; letter-spacing:2px; padding:1px 2px; text-align:center; white-space:nowrap; border-bottom:1px solid #fff; }
.icontent_container #nav-wrap .nav-container a:hover{border-bottom:1px dashed #666;}
.icontent_container #nav-wrap .nav-container li#active a{border-bottom:1px solid #888;}
.icontent_container #nav-wrap .nav-container a:active{padding:2px 2px 0px;}
.icontent_container #nav-wrap{overflow:hidden}
.icontent_container #wsite-menus .wsite-menu{ background:#fff; border:1px solid #ddd; border-bottom:0; margin-top:-1px; }
.icontent_container #wsite-menus .wsite-menu li{ border:none; }
.icontent_container #wsite-menus .wsite-menu li a{ border-left:none; border-right:none; }
.icontent_container #wsite-menus .wsite-menu li a:hover{ color: #fff; background:#94C5BF; }
.icontent_container .no-header-page #main-wrap{ border-top:1px solid #eee; }
.icontent_container #main-wrap .container{ padding:50px 0; }
.icontent_container .blog-post .blog-separator{display:none;}
.icontent_container .blog-post .blog-header{ margin-bottom:20px !important; }
.icontent_container .blog-sidebar h2{ padding:1em 0 .3em; }
.icontent_container .blog-sidebar h2.blog-author-title{ padding:0 0 0.3em; }
.icontent_container h2.blog-title,.icontent_container .blog-post .blog-header h2.blog-title{padding-bottom:5px !important;}
.icontent_container h2.blog-title a,.icontent_container .blog-post .blog-header h2.blog-title a{ border:none;}
.icontent_container #banner-wrap{ background:url(/uploads/b/communityTheme-144970330681139381/files/dust.png?636535) fixed; padding:30px 0; }
.icontent_container .tall-header-page #banner{}
.icontent_container .tall-header-page .wsite-header{ width: 960px; height: 300px; background: url(/uploads/b/communityTheme-144970330681139381/files/banner-tall.jpg?636535) no-repeat; }
.icontent_container .short-header-page #banner{}
.icontent_container .short-header-page .wsite-header{ width: 960px; height: 200px; background: url(/uploads/b/communityTheme-144970330681139381/files/banner-short.jpg?636535) no-repeat; }
.icontent_container .no-header-page .wsite-header{ display:none; }
.icontent_container .landing-page #banner{ padding: 0; }
.icontent_container #bannerleft{ float: right; width: 400px; }
.icontent_container .landing-page .wsite-header{ width: 400px; height: 300px; background: url(/uploads/b/communityTheme-144970330681139381/files/banner-landing.jpg?636535) no-repeat; }
.icontent_container #bannerright{ float:left ; width: 500px; height: 300px; }
.icontent_container #bannerright h2{ font-size:20px; padding: 0px; line-height: 20px; }
.icontent_container #bannerright div.paragraph{ padding: 20px 0px; line-height: 140%; }
.icontent_container #bannerright p,.icontent_container #bannerright div.paragraph{ padding: 20px 0px; line-height: 140%; }
.icontent_container #bannerright .wsite-button{}
.icontent_container .landing-banner-outer{ display: table; #position: relative; overflow: hidden; }
.icontent_container .landing-banner-mid{ #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
.icontent_container .landing-banner-inner{ #position: relative; #top: -50%; }
.icontent_container #footer-wrap{ background:#242424; padding:50px 0; color:#eee; float:left; }
.icontent_container #footer-wrap .container blockquote{ border-left:4px solid #555; color:#777; }
.icontent_container #footer-wrap .container h2{ color: #fff; }
.icontent_container #footer-wrap .container div.paragraph{ color:#ccc; }
.icontent_container #footer-wrap .container p,.icontent_container #footer-wrap .container div.paragraph{ color:#ccc; }
.icontent_container #footer-wrap .container .wsite-form-container{ margin-top:0 !important; }
.icontent_container #footer-wrap .container .weebly-footer,.icontent_container #footer-wrap .container .weebly-footer a,.icontent_container #weeblyfootertext,.icontent_container #weeblyfootertext a{color:#fff; text-align:right;}
.icontent_container #footer-wrap .container .weebly-footer,.icontent_container #weeblyfootertext{float:right; text-transform:uppercase; font-size:14px; font-weight:600;}
.icontent_container #footer-wrap .container .wsite-form-input,.icontent_container #footer-wrap .container .wsite-search-element-input{ border:1px #333 solid; background:#222; color:#fff; }
.icontent_container .wsite-form-label{ display: inline-block; font-size: 14px; }
.icontent_container .form-radio-container{ font-size: 13px; }
.icontent_container .wsite-form-input,.icontent_container .wsite-search-element-input{ border:1px #ccc solid; background:none; border-radius:2px; padding:7px 5px !important; }
.icontent_container .form-select{}
.icontent_container .wsite-button{ display: inline-block; padding: 7px 12px; background: #333; text-transform:uppercase; border-radius:2px; }
.icontent_container .wsite-button:hover{ background: #000; }
.icontent_container .wsite-button:active{ background: #222; }
.icontent_container .wsite-button-inner{ color: #fff !important; padding: 0; background: none !important; font: 500 18px 'Open Sans', sans-serif; height:auto; letter-spacing:1px; }
.icontent_container .wsite-button-large{ color: #fff !important; padding: 5px 20px; }
.icontent_container .wsite-button-large:hover{ background: #000; }
.icontent_container .wsite-button-large:active{ background: #222; }
.icontent_container .wsite-button-large .wsite-button-inner{ background: none !important; padding:0; height:auto; }
.icontent_container .wsite-button-large:hover .wsite-button-inner{ background: none !important; }
.icontent_container .wsite-button-large:active .wsite-button-inner{ background: none !important; }
.icontent_container .wsite-button-highlight{ background: #94C5BF; }
.icontent_container .wsite-button-highlight:hover{ background: #6ca29b; }
.icontent_container .wsite-button-highlight .wsite-button-inner{ background: none; }
.icontent_container .wsite-button-large .wsite-button-highlight{ background: #94C5BF; }
.icontent_container .wsite-button-large .wsite-button-highlight .wsite-button-inner{ background: none; }
.icontent_container .wsite-button-large.wsite-button-highlight{ background: #94C5BF; }
.icontent_container .wsite-button-large.wsite-button-highlight:hover{ background: #6ca29b; }
.icontent_container .wsite-button-highlight:active{ background: #458a81; }
.icontent_container .wsite-button-large.wsite-button-highlight:active{ background: #458a81; }
.icontent_container div.paragraph ul,.icontent_container div.paragraph ol{ padding-left: 3em !important; margin: 5px 0 !important; }
.icontent_container div.paragraph li{ padding-left: 5px !important; margin: 3px 0 0 !important; }
.icontent_container div.paragraph ul,.icontent_container div.paragraph ul li{ list-style: disc outside !important; }
.icontent_container div.paragraph ol,.icontent_container div.paragraph ol li{ list-style: decimal outside !important; }
 
.icontent_container #secondlist ul li{ list-style: none; margin-left: 0px; margin-bottom: 10px; }
.icontent_container div.paragraph ul,.icontent_container div.paragraph ol{ padding-left: 2.3em !important; margin: 5px 0 !important; overflow:hidden; }
.icontent_container div.paragraph li{ padding-left: 5px !important; margin: 3px 0 0 !important; }
.icontent_container div.paragraph ul,.icontent_container div.paragraph ul li,.icontent_container .product-description ul li{ list-style: disc outside !important; }
.icontent_container div.paragraph ol,.icontent_container div.paragraph ol li,.icontent_container .product-description ol li{ list-style: decimal outside !important; }